/*--------------------------------------------------------------
Go to top button
--------------------------------------------------------------*/
    .go-top {
        position: fixed !important;
        right: 20px;
        bottom: -45px;
        color: #fff;
        background-color: #000;
        display: block;
        font-size: 22px;
        line-height: 35px;
        text-align: center;
        width: 40px;
        height: 40px;
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        z-index: 9999;
        cursor: pointer;
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
             -o-border-radius: 2px;
                border-radius: 2px;
        -webkit-transition: all 0.5s;
           -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
             -o-transition: all 0.5s;
                transition: all 0.5s;
    }
    .go-top:active, .go-top:hover {
        background-color: #000;
        color: #fff;
    }
    .go-top.show {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: visible;
        bottom : 11px;
    }
.racketmanager-svg-icon, svg.icon,icon-white {
	fill: white;
}
/*
* @section: Backend
*/
ul.posttype-tabs, ul.outer-border {
  padding-left: 0;
}
#matchPreloader .preloader {
    height: 25%;
    width: 75%;
}
.captain {
  font-weight: bold;
}
.entry-content {
    padding-bottom: 2em;
}
button[readonly], html input[readonly] {
    cursor: default;
}
.form-group {
    margin-bottom: 1em;
}
.form-check {
    margin-bottom: .5em;
}
.form-group .input input, .form-group .input select, .form-check .form-check label {
    font-size: 1.2em;
}
.form-group label {
    font-weight: 700;
    font-size: .85em;
}
.form-hint {
  font-weight: 400;
  margin-bottom: 15px;
  color: #505a5f;
  font-size: 0.65em;
  line-height: 1.31;
  border-left: 1px #505a5f solid;
  padding-left: 5px;
}
.form-check-input[type=checkbox] {
    margin: 0.25em 0 0 -1.5em;
}
.form-check-input:checked {
    background-color: #FFFFFF;
    border-color: #50575e;
}
legend.form-check-label {
	font-size: 1rem;
}
.row .form-floating>label {
	left: initial;
}
.wp-core-ui select.form-select {
	max-width: 100%;
	font-size: 1rem;
	padding-left: 0.75rem;
	padding-right: 2.25rem;
}
.check-column {
    vertical-align: middle;
}

/*
 * Global Settings Page
 */
.colorbox {
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
}

/*
 * League page
 */
.subsubsub:after {
    content: " ";
    clear: both;
    display: block;
}
.subsubsub {
    margin-bottom: 1.5em;
}
span.winner, .host {
  font-weight: 700;
}
.host {
  font-style: italic;
}
/*
 * sortable tables
 */
tbody.sortable tr:hover th,
tbody.sortable tr:hover td {
    border-top: 1px solid #585858;
    border-bottom: 1px solid #585858;
}
/* seeded is used in a variable setting for the class */
.seeded {
	background-color: rgba(36, 126, 0, .15);
}
.seeded a {
	font-weight: 900;
	text-transform: uppercase;
}
.league-block-container {
    overflow: auto;
}
th.score, td.score {
    text-align: center;
}

/*
 * Admin Crosstable
 */
 .fixture {
   text-align: center;
 }
.widefat.crosstable {
    margin-top: 1em;
}
.widefat.crosstable th {
    font-weight: bold;
}
.widefat.crosstable td {
    text-align: center;
}
/*--- Documentation ---*/
dl.racketmanager dt {
    clear: both;
    font-weight: bold;
    }
dl.racketmanager dd {
    text-indent: 1.5em;
    }
ul.doc-import-structure {
    list-style: none;
    margin-left: 0;
}
ul.doc-import-structure li {
    float: left;
    border: 1px solid #585858;
    margin-right: 0.2em;
    background: #f1f1f1;
    padding: 0.5em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
}
ul.doc-import-structure:after {
    content: " ";
    clear: both;
    display: block;
}
p.match_info {
    font-size: 0.9em;
    margin-top: 1.5em;
    }

.racketmanager_breadcrumb {
  margin: 1.5em 1.3em 1.3em auto;
  font-size: 0.8em;
}
.widefat {
  margin-bottom: 2em;
}
.widefat .column-num {
    text-align: center;
    }
.widefat .logo {
    width: 20px;
    }
.widefat .logo img {
    display: block;
    margin: 0;
    padding: 0;
    }
p.info { margin: 0; padding: 0; float: right; }
span.loading { margin-left: 5px; }
span.loading img { vertical-align: middle; }
div.racketmanager_widget_control label {
    padding: 0 0.5em 0.5em 0.5em;
    float: left;
    width: 7em;
}
div.racketmanager_widget_control label.right {
    float: none;
    width: auto;
}
div.racketmanager_widget_control input {
    margin-left: 0.5em;
    display: inline;
    clear: none;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 0;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}
div.racketmanager_widget_control select {
    margin-left: 0.5em;
    vertical-align: middle;
}
.player-name {
    width: 20%;
}

.playerstats .player-name {
    width: 10%;
}

.playerstats .status {
    width: 2%;
}

.matchday {
    text-align: center;
    font-size: .75em;
    min-width: 75px;
}
.playerstats th {
    text-align: center;
    font-size: .8em;
}
.playerstats thead th.colspan {
    border: none;
}
/* matchday play* options are used as variables */
.matchday.playup {
    background-color: greenyellow;
    color: white;
}
.matchday.playdown, .table-striped>tbody>tr:nth-of-type(odd)>*.playdown {
    background-color: blue;
    color: white;
}.matchday.playdown-err {
    background-color: red;
    color: white;
}
.matchday.play-multi {
    background-color: red;
    color: white;
}

/* Pagination */

#lm_admin .pagination{
    text-align: center
}

#lm_admin .pagination li{
	display: inline-block;
    zoom: 1;
    margin: 0 0 0 5px;
    height: 25px
}

#lm_admin .pagination li:first-child{
    margin: 0 0 0 0
}

#lm_admin .pagination li a{
	display: inline-block;
    zoom: 1;
    font-size: 12px;
    border: solid 1px;/* #dedede;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    padding: 4px 8px;
    height: 15px
}
#lm_admin .pagination li a:hover{
    text-decoration: none
}

#lm_admin .pagination li span{
	display: inline-block;
    zoom: 1;
    width: 25px;
    text-align: center;
    font-size: 12px;
    margin: 4px 0
}

#lm_admin .pagination li.prev_page a{
    width: 7px;
    height: 15px;
    text-indent: -999999px
}

#lm_admin .pagination li.next_page a{
    width: 7px;
    height: 15px;
    text-indent: -999999px
}

#lm_admin .pagination li.prev_page a em{
    display: none
}

#lm_admin .pagination li.next_page a em{
    display: none
}
#lm_admin .pagination li.first_page a{
    width: 7px;
    height: 15px;
    text-indent: -999999px
}

#lm_admin .pagination li.last_page a{
    width: 7px;
    height: 15px;
    text-indent: -999999px
}

#lm_admin .pagination li.first_page a em{
    display: none
}

#lm_admin .pagination li.last_page a em{
    display: none
}

/* Bulk Actions */
.tablenav-pages a,
.tablenav-pages-navspan {
    font-weight: 600;
    padding: 0 2px;
}

.tablenav-pages .current-page {
    margin: 0 0 0 2px;
    padding-bottom: 5px;
    font-size: 13px;
    text-align: center;
}

.tablenav .total-pages {
    margin-left: 2px;
}

.tablenav #table-paging {
    margin-right: 2px;
}
#seasons-table a, #clubs-table a, #results-table a, #tournament-table a, #teams-table a, #constitution a {
    color: #ffffff;
}
#teams-table .team-name a, #results-table .match-title a {
    color: #222222;
}
.tablenav a.button-secondary {
    display: block;
    margin: 3px 0 0 8px;
}
td.match-title {
    width: 30%;
}
td.match-location {
    width: 10%;
}
.tablenav {
  height:auto;
    clear: none;
    margin: 6px 0 4px;
    vertical-align: middle;
}

.tablenav.themes {
    max-width: 98%;
}

.tablenav .tablenav-pages {
    height: 28px;
    margin-top: 3px;
    cursor: default;
    color: #555;
}

.tablenav .no-pages,
.tablenav .one-page .pagination-links {
    display: none;
}

.tablenav .tablenav-pages a,
.tablenav-pages span.current  {
    text-decoration: none;
    padding: 3px 6px;
}

.tablenav .tablenav-pages a,
.tablenav-pages-navspan {
    display: inline-block;
    min-width: 17px;
    border: 1px solid #ccc; /* same color as buttons border */
    padding: 3px 5px 7px;
    background: #e5e5e5;
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
}

.tablenav-pages-navspan {
    height: 16px;
    border-color: #ddd; /* same as disabled buttons */
    background: #f7f7f7; /* same as disabled buttons */
    color: #a0a5aa; /* same as disabled buttons */
}

.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
    border-color: #5b9dd9;
    color: #fff;
    background: #00a0d2;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; /* IE8 */
}

.tablenav .displaying-num {
    margin-left: 7px;
}

.tablenav .one-page .displaying-num {
    display: inline-block;
    margin-top: 5px;
    margin-left: 0;
}

.tablenav .actions {
    overflow: hidden;
    padding: 2px 0 0 8px;
}

.wp-filter .actions {
    display: inline-block;
    vertical-align: middle;
}

.tablenav .delete {
    margin-left: 20px;
}

/* @todo: unclear if the following tablenav rules are actually used.
 classes exist in paginate_links() but not seen in list table output. */
.tablenav .dots {
    border-color: transparent;
}

.tablenav .next,
.tablenav .prev {
    border-color: transparent;
    color: #0073aa;
}

.tablenav .next:hover,
.tablenav .prev:hover {
    border-color: transparent;
    color: #00a0d2;
}

.tablenav .view-switch {
    float: left;
    margin: 0 5px;
    padding-top: 3px;
}

#wpfooter {
    position: relative;
}

div#errorMsg {
    white-space: pre;
    font-weight: 700;
    color: #ff0000;
    font-size: 1.2em;
}
span.error {
    margin-top: 10px;
    padding-top: 5px;
    font-weight: 700;
    margin-left: 0;
    color: red;
}
.final-match {
  float: left;
  min-height: 100px;
  font-size: 0.8em;
}
.round-matches {
  display: inline-block;
}
.winner {
  font-weight: 700;
}
.score {
  text-align: center;
}
.team-left {
  text-align: right;
}
.team-right {
  text-align: left;
}
.final-round {
  border: solid;
  margin: 5px;
}
.nav-pills .nav-link {
    color: #212529;
}
.nav-pills .nav-link.active {
    color: #fff;
    background-color: #1a1e21;
    border-color: #191c1f;
}
.table-header, .table-row {
    padding: 8px 0;
    vertical-align: middle;
    font-size:13px;
}
.table-header {
    border: 1px solid #c3c4c7;
    line-height: 1.4em;
}
.table-row {
    line-height: 1.5em;
    border: 1px solid #f6f7f7;
}
.table tr {
	vertical-align: middle;
}
dl dl {
    padding-left: 1rem;
}
.points {
  text-align: center;
}
input.points {
  padding: 3px;
}
.message-error {
  border: 2px solid #dc3545;
  color: #dc3545;
  padding: 5px;
}
.message-success {
  border: 2px solid #66cc33;
  color: #66cc33;
  padding: 5px;
}

.points.is-invalid {
  border-color: #dc3545;
  color: #dc3545;
}
.tournament-match {
  min-height: 6rem;
  border: 1px solid;
}
.drag-over {
  border: dashed 3px red;
}
.hide {
  display: none;
}
.form-check .form-check-input[type=radio] {
  margin-top: 0.25em;
  margin-right: 0;
}
.update-core-php h2 {
  margin: 0;
}
.contactText {
  min-height: 5rem;
}
.contactBody {
  min-height: 10rem;
}
.container.striped>:nth-child(even) {
    background-color: #f6f7f7;
}
form .table-responsive {
    overflow-x: inherit;
}
.match__result {
	display: flex;
	padding: 24px 0 0;
	position: relative;
}

.set-points {
	padding: 0 24px;
}

ul.match-points.set-points {
	padding: 0;
	margin-bottom: 0;
}

.tie-break {
	text-align: center;
}
.points.tie-break {
	margin-left: 28px;
	margin-top: 10px;
}
.match-points {
	display: flex;
	justify-content: space-around;
}

.match-points__cell {
	padding: 0 0.25rem;
}

.match {
	border: 1px solid;
	margin-bottom: 15px;
}

.match__body {
	padding: 0 5px;
}

ul.match__header-title {
	padding-left: 5PX;
}

.match__row-title-value {
	padding-bottom: 5px;
}
.score.winner {
	background-color: #4abf33 !important;
	color: #FFF;
}

.score.tie {
	background-color: #ff9c00 !important;
	color: #FFF;
}

.score.loser {
	color: #FFF;
	background-color: #bd3b2a !important;
}

.fixture .score {
	padding: 8px;
	border-radius: 5px;
}

a.score {
	text-decoration: none;
}
/* UnplayedMatch used as generated code class */
.fixture .unplayedMatch {
	font-size: .8rem;
}
.match-points__cell-input {
    width: 32px ;
}
.match-points__cell-input.match-points__cell-input--won:not(:disabled) {
    border-bottom-color: #4abf33;
    border-bottom-width: 2px;
    font-weight: 700;
}
.match-points__cell-input.input-validation-error:not(:disabled) {
	border-bottom-color: #bd3b2a;
	border-bottom-width: 2px;
	font-weight: 700
}
.alert_rm {
	background-color: #fff;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 32 32'%3E%3Cpath fill='%231A7BC0' d='M16.001 0c-8.837 0-16 7.164-16 16 0 8.834 7.163 16 16 16S32 24.836 32 16 24.837 0 16.001 0m2.508 21.886c-1.208 1.812-2.436 3.212-4.503 3.212-1.41-.23-1.989-1.241-1.684-2.27l2.66-8.807c.064-.216-.044-.446-.242-.515-.196-.069-.58.187-.913.549l-1.607 1.934c-.042-.324-.004-.862-.004-1.077 1.208-1.812 3.19-3.243 4.536-3.243 1.28.132 1.883 1.153 1.661 2.276l-2.676 8.848c-.036.2.07.405.251.467.199.07.611-.185.944-.549l1.607-1.932c.041.324-.03.892-.03 1.109zm-.358-11.499c-1.017 0-1.842-.74-1.842-1.831s.825-1.831 1.842-1.831c1.016 0 1.84.74 1.84 1.831s-.825 1.831-1.84 1.831'/%3E%3C/svg%3E");
	background-position: 1.5rem;
	background-repeat: no-repeat;
	background-size: 2rem;
	border-radius: .3rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
	padding: 2rem 2rem 2rem 5rem;
	position: relative
}

.module:not(.module--card) .alert_rm {
    /*noinspection CssUnresolvedCustomProperty*/
    box-shadow: var(--box-shadow);
}

@media (min-width: 768px) {
	.alert_rm {
		align-items: center;
		flex-direction: row
	}
}

.module-container--full-width .alert_rm {
	min-height: 3rem
}

@media (min-width: 768px) {
	.module-container--full-width .alert_rm {
		min-height: 6rem
	}
}

.module-container--full-width>.alert_rm {
	margin-bottom: 0
}
.alert_rm+.alert_rm {
	margin-top: 1.5rem
}

.alert--danger {
	background-color: #bd3b2a;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 32 32'%3E%3Cpath fill='rgba(255, 255, 255, 0.5)' d='M15.957.265C7.287.265.265 7.287.265 15.957s7.022 15.692 15.692 15.692 15.692-7.029 15.692-15.692S24.62.265 15.957.265m-2.058 8.074c0-1.251 1.019-2.27 2.27-2.27s2.27 1.019 2.27 2.27v9.08a2.269 2.269 0 1 1-4.54 0zm2.27 13.588c1.251 0 2.27 1.019 2.27 2.27s-1.019 2.27-2.27 2.27-2.27-1.019-2.27-2.27a2.265 2.265 0 0 1 2.27-2.27' class='path1'/%3E%3C/svg%3E");
	color: #f6dad7
}

.alert--warning {
	background-color: #ff9c00;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath fill='rgba(255, 255, 255, 0.5)' d='M31.763 28.129 17.805 1.976A2.01 2.01 0 0 0 16.033.912h-.002c-.742 0-1.422.408-1.772 1.062L.239 28.127a2.02 2.02 0 0 0 .046 1.984c.364.606 1.02.978 1.726.978h27.976a2.012 2.012 0 0 0 1.776-2.96m-15.732-1.064a2.012 2.012 0 1 1 0-4.025 2.012 2.012 0 0 1 0 4.025m2.014-8.015a2.012 2.012 0 0 1-4.024 0v-8.047a2.012 2.012 0 0 1 4.024 0z'/%3E%3C/svg%3E");
	color: #fff5e6
}

.alert--success {
	background-color: #4abf33;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='32'%3E%3Cpath fill='rgba(255, 255, 255, 0.5)' d='M16.65 27.959 36.713 7.972l-3.945-3.946-17.61 17.545-6.524-6.524-3.416 3.415 9.511 9.511.041-.041h1.854z'/%3E%3C/svg%3E");
	color: #e4f7e1
}

.alert--info {
	background-color: #c9eafc !important;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 32 32'%3E%3Cpath fill='%230c7eba' d='M16.001 0c-8.837 0-16 7.164-16 16 0 8.834 7.163 16 16 16S32 24.836 32 16 24.837 0 16.001 0m2.508 21.886c-1.208 1.812-2.436 3.212-4.503 3.212-1.41-.23-1.989-1.241-1.684-2.27l2.66-8.807c.064-.216-.044-.446-.242-.515-.196-.069-.58.187-.913.549l-1.607 1.934c-.042-.324-.004-.862-.004-1.077 1.208-1.812 3.19-3.243 4.536-3.243 1.28.132 1.883 1.153 1.661 2.276l-2.676 8.848c-.036.2.07.405.251.467.199.07.611-.185.944-.549l1.607-1.932c.041.324-.03.892-.03 1.109zm-.358-11.499c-1.017 0-1.842-.74-1.842-1.831s.825-1.831 1.842-1.831c1.016 0 1.84.74 1.84 1.831s-.825 1.831-1.84 1.831'/%3E%3C/svg%3E");
	color: #0c7eba
}

.alert_rm p {
	margin-bottom: 0
}

.alert_rm ul {
	margin-left: 2rem
}
.alert__body {
	flex-grow: 1;
	flex-shrink: 1;
	position: relative
}

@media (min-width: 768px) {
	.alert__body {
		flex-basis: 0
    }
}
