
#splash {
    text-align: center;
    padding: 2rem 0;
}
#waitingMatch {
    font-size: 2rem;
}
.spinnerMatch {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #00964b; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#matchHeader {
    font-size: 1.1em;
    font-weight: 600;
}
div#matchHeader .leagueTitle {
    float: left;
}
div#matchHeader .matchDate {
    float: right;
}
div#matchHeader .matchday {
    float: none;
    text-align: center;
}
div#matchHeader .matchTitle {
    text-align: center;
}
.widefat td.rtd.centered {
    padding-left: 5px;
    padding-right: 5px;
}
td input.points {
    padding: 3px;
    text-align: center;
    width: 37px;
}
td input.player {
    width: 200px;
}

.playerselect {
    width: 30%;
}
#content .playerselect {
    border: none;
    border-right: 1px solid #333;
}
#matchRubbers select {
    width:    100%;
}

#matchRubbers .centered {
    text-align: center;
    vertical-align: middle
}
.match-team {
  width: 30%;
}
.modal select {
  height: 38px;
}
.modal input.points {
  height: 38px;
  width: 26px;
  padding-left: 2px;
  padding-right: 2px;
}
.modal-backdrop {
  z-index: -1;
}
.modal-header button.btn-close,
.modal-header button.btn-close:hover,
.modal-header button.btn-close:focus {
    background-color: #FFF;
    border: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
