/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0,0,0,0.7);
}

/* Modal Content */
.modal-content {
  margin: auto;
  width: 50%;
  top: 2em;
}
#matches-archive .modal-content, #matches .modal-content {
    top: 10em;
}
/* The Close Button */
.close {
  color: #000000;
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #FFFFFF;
  color: #000000;
  height: 2em;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #FFFFFF;
  color: #000000;
  height: 2em;
}

#splash {
    text-align: center;
    padding: 2rem 0;
}
#waitingMatch {
    font-size: 2rem;
}
.spinnerMatch {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #00964b; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#matchheader {
    font-size: 1.1em;
    font-weight: 600;
}
div#matchheader .leaguetitle {
    float: left;
}
div#matchheader .matchdate {
    float: right;
}
div#matchheader .matchday {
    float: none;
    text-align: center;
}
div#matchheader .matchtitle {
    text-align: center;
}
.widefat td.rtd.centered {
    padding-left: 5px;
    padding-right: 5px;
}
td input.points {
    padding: 3px;
    text-align: center;
    width: 37px;
}
td input.player {
    width: 200px;
}

.playerselect {
    width: 30%;
}
#content .playerselect {
    border: none;
    border-right: 1px solid #333;
}
#matchrubbers select {
    width:    100%;
}

#matchrubbers .centered {
    text-align: center;
    vertical-align: middle
}
.match-team {
  width: 30%;
}
#matches-archive .modal-content {
    width: 90%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*  START OF MEDIA QUERIES */

@media only screen and (max-width: 1770px) {
    .modal-content {
        width: 60%;
    }
    .playerselect {
        width: 25%;
    }
}

@media only screen and (max-width: 1024px) {
    .modal-content {
        width: 70%;
    }
}

@media only screen and (max-width: 960px) {
    .modal-content {
        width: 90%;
        top: 4em;
    }
}

/*  END OF MEDIA QUERIES */
