/* Print Style Sheet */
@media print {
	body {background:blue;
		font-size:10pt;
		margin:0; }
	#header { display:none; }
	#content { display:block;}
	#sidebar-footer { display:none; }
	#colophon { display:none; }
	#un-button { display:none; }
	.entry-header {  display:none; }
	.header-clone {  display:none; }
	#season {  display:none; }
	table.leaguemanager td, table.leaguemanager th {
		vertical-align: middle;
		padding: 0px;
		margin: 0;
	}
	#standings-archive h4 { margin: 5px 0px; }
	#leaguetables h1 { margin: 5px 0px; }
	th.tennishdr { width: 11%;	}
	th.num { width: 4%; }
	a.go-top { display:none;}
}
