/*
* @section: Frontend Tables
*/
table.racketmanager,
div.matchlist table.racketmanager {
	text-align: left;
	border: 1px solid;
	border-collapse: collapse;
	width: 100%;
	margin: 1em auto 1.5em auto;
}
table.racketmanager th,
div.matchlist table.racketmanager {
	padding: 2px 3px;
	margin: 0;
	border-bottom: 1px solid;
	}
table.racketmanager td,
div.matchlist table.racketmanager td {
	vertical-align: middle;
	border: 0;
	padding: 5px;
	margin: 0;
	}
table.racketmanager.matchtable a,
table.racketmanager.matchtable span,
table.racketmanager .last5 a,
table.racketmanager .last5 span {
	border: 0;
}

table.racketmanager a.W, table.racketmanager span.W { background-position:0 -150px; }
table.racketmanager a.D, table.racketmanager span.D { background-position:0 -200px; }
table.racketmanager a.L, table.racketmanager span.L { background-position:0 -250px; }
table.racketmanager a.N, table.racketmanager span.N { background-position:0 -650px; }

table.racketmanager a.W:hover, table.racketmanager span.W:hover { background-position:0 -300px; }
table.racketmanager a.D:hover, table.racketmanager span.D:hover { background-position:0 -350px; }
table.racketmanager a.L:hover, table.racketmanager span.L:hover { background-position:0 -400px; }
table.racketmanager a.N:hover, table.racketmanager span.N:hover { background-position:0 -700px; }

table.racketmanager .last5Icon a,
table.racketmanager .last5Icon span { border: 0; background-image: url(images/last5.png); position: relative; top: 0px; }

table.racketmanager .last5-bg { float:left; width:20px; height:17px; }

table.racketmanager .num, table.racketmanager .fixture {
	text-align: center;
	}
table.racketmanager .last5 {
	text-align: center;
	width: 12.5%;
	}
table.racketmanager .logo,
table .racketmanager .match-title.logo {
	width: 20px;
	}
.match-title.logo {
	max-width: 50px;
}
th.match-title, td.match-title {
    text-align: center;
    width: 300px;
}
table.racketmanager .logo img {
	display: block;
	margin: 0;
	padding: 0;
	}
table.racketmanager .home {
	font-weight: bold;
	}
table.racketmanager th.match {
	text-align: center;
	}
table.racketmanager .score {
	width: 10%;
}
table.racketmanager .score, table.racketmanager .ap {
	text-align: center;
	}
table.racketmanager tr.divider {
	/*border-bottom: 1px solid;*/
	}
table.racketmanager a {
	text-decoration: none;
}


/*--- Standings table ---*/
.standingstable {
	border: 1px solid !important;
}
.standingstable th,
.standingstable td {
	vertical-align: middle;
}
.standingstable .rank {
	display: block;
	margin: auto;
	text-align: center;
	padding: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
}

/*--- Crosstable Popup ---*/
div#racketmanager_crosstable div { text-align: center; padding-top: 1em;}

table.racketmanager.crosstable {
}
table.racketmanager.crosstable th {
	vertical-align: middle;
	border: 1px solid;
}
table.racketmanager.crosstable td {
	border: 1px solid;
}
table.crosstable img {
	display: inline-block;
	vertical-align: middle;
}


/*--- Archive ---*/
div#racketmanager_archive_selections { margin-bottom: 1em; }

.nav-pills button.nav-link {
    color: #006800;
}
.nav-tabs button.nav-link {
    color: #006800;
}
.nav-pills.frontend .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #006800;
}
/*--- Single Match ---*/
div.match .match-content:after {
	content: " ";
	display: block;
	clear: both;
}
div.match h4 {
	clear: both;
	text-align: center;
	}
div.match p.score,
div.match p.matchdate {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin-top: 2em;
}
div.match .home_logo img,
div.match .away_logo img {
	font-size: 1em;
	vertical-align: middle;
}
div.match span.home_logo {
	margin-right: 1em;
}
div.match span.away_logo {
	margin-left: 1em;
}

div.match table {
	width: 100%;
	margin-top: 1.5em;
	clear: both;
}
div.match table,
div.match table th,
div.match table td {
	border: 0;
	background: transparent;
}
div.match table th,
div.match table td {
	vertical-align: top;
	margin: 0;
}
div.match .match_day,
div.match .date,
div.match .location,
div.match .report {
	text-align: center;
	margin: 0;
}
div.match .match-stats {
	clear: both;
}

/*
 * Match List
 */
.captain {
    font-weight: 900;
}
.form-floating>.form-control.result-comments {
	height: 100px;
}
div.matchlist {
	margin-bottom: 1em;
}
.matchlist .match {
	margin-bottom: 1em;
}
div.matchlist h3.header {
	cursor: pointer;
}
div.matchlist table.racketmanager  th {
	padding: 4px;
	margin: 0;
	border: 1px solid;
}

/*--- Team Page ---*/
div.teampage,
div.teamlist {
	position: relative;
	clear: both;
	margin-bottom: 1em;
}
div.teamlist h3.header {
	cursor: pointer;
}
div.tm-team-content .prev_match,
div.tm-team-content .next_match {
	margin-bottom: 1em;
}
div.tm-team-content:after {
	content: " ";
	display: block;
	clear: both;
}
div.teampage h3.header,
div.teamlist h3.header,
div.match h3.header,
div.tm-team-content .prev_match .header,
div.tm-team-content .next_match .header {
	margin: 0;
	color:	#cccccc;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0.5em;
	-moz-border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border: 1px solid;
	border-bottom: 0;
	font-weight: bold;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,1);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,1);
	-ms-box-shadow:0 1px 1px rgba(0,0,0,1);
	-o-box-shadow:0 1px 1px rgba(0,0,0,1);
	box-shadow:0 1px 1px rgba(0,0,0,1);
}
div.tm-team-content .prev_match .header,
div.tm-team-content .next_match .header {
	font-size: 1em;
}
div.tm-team-content,
div.match .match-content,
div.tm-team-content .prev_match .content,
div.tm-team-content .next_match .content {
	position: relative;
	padding: 0.5em;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,1);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,1);
	-ms-box-shadow:0 1px 1px rgba(0,0,0,1);
	-o-box-shadow:0 1px 1px rgba(0,0,0,1);
	box-shadow:0 1px 1px rgba(0,0,0,1);
	margin: 0 0 2px 0;
	border: 1px solid;
}
div.entry-content .tm-team-content {
	border: none;
	box-shadow: none;
}
div.tm-team-content {
	padding: 0.5em !important;
}
div.tm-team-content .teamlogo:after {
	content: " ";
	clear: both;
	display: table;
}
div.tm-team-content .teamlogo img {
	/*position: absolute;
	right: 1em;
	top: 1em;*/
	display: block;
	margin: 0 0 1em auto;
}
div.tm-team-content dl.team dt{
	float: left;
	clear: both;
	font-size: 1.1em;
  width: 225px;
}
div.tm-team-content dl.team dd {
	float: left;
	font-size: 1.1em;
}
div.tm-team-content dl.team dt.contact-login-msg {
    width: 400px;
    padding: 20px;
}
.contact-login-msg {
    text-align: center;
}
div.tm-team-content .matches {
	/*margin-top: 90px;*/
	/*float: right;*/
	width: 100%;
	display: block;
	clear: both;
}
div.tm-team-content .matches-container {
	height: auto;
	width: 50%;
	float: left;
}
div.tm-team-content .next_match {
	margin-right: 0.5em;
}
div.tm-team-content .prev_match {
	margin-left: 0.5em;
}
div.tm-team-content .prev_match p,
div.tm-team-content .next_match p {
	margin: 0;
	padding: 0.3em 0;
}
div.tm-team-content .prev_match .score,
div.tm-team-content .next_match .score {
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
}
div.tm-team-content .team-projectmanager {
	clear: both;
	position: relative;
}
.frontend.accordion-button:not(.collapsed) {
  color: #006800;
  background-color: #FFFFFF;
}
.frontend.accordion-button:focus {
/*  box-shadow: 0 0 0 0.25rem rgb(0 104 0 / 25%); */
	box-shadow: none;
}
.frontend.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.frontend.accordion-button:not(.collapsed)::after
, .frontend.accordion-button:focus::after
, .frontend.accordion-button:hover::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23006800'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
#winners-list dd {
    width: 30%;
    float: left;
		clear: both;
}

#winners-list dt {
    width: 70%;
}

#winners-list dl {
    overflow: hidden;
    width: 100%;
}
/*
* Club page
*/
div.tm-team-content .title {
    font-size: 1.2em;
}
div.tm-team-content div.team {
    margin: 1em 0;
}
.match-time {
    width: 25%;
}
.width-one-quarter {
    width: 25%;
}
.width-one-half {
    width: 50%;
}
.form-checkboxes__item {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    clear: left
}
.form-checkboxes__input {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
    margin: 0;
    opacity: 0;
}

.form-checkboxes__label {
    display: inline-block;
    margin-bottom: 0;
    padding: 8px 15px 5px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.form-checkboxes__label:before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    background: transparent
}

.form-checkboxes__label:after {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 11px;
    left: 9px;
    width: 23px;
    height: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent
}
.form-checkboxes__input:focus+.form-checkboxes__label:before {
    border-width: 4px;
    -webkit-box-shadow: 0 0 0 3px #fd0;
    box-shadow: 0 0 0 3px #fd0
}

.form-checkboxes__input:checked+.form-checkboxes__label:after {
    opacity: 1
}

.form-checkboxes__input:disabled,.form-checkboxes__input:disabled+.form-checkboxes__label {
    cursor: default
}

.form-checkboxes__input:disabled+.form-checkboxes__label {
    opacity: .5
}

.form-label.form-checkboxes__label {
    font-size: 1.5rem;
}
.form-label {
    display: block;
    font-size: .85em;
}
.form-checkboxes__conditional {
    margin-bottom: 15px;
    margin-left: 18px;
    padding-left: 33px;
    border-left: 4px solid #b1b4b6;
}
.form-checkboxes__conditional--hidden {
    display: none
}
input[type="text"]:disabled, input[type="email"]:disabled, input[type="tel"]:disabled, input[type="url"]:disabled, input[type="number"]:disabled, input[type="time"]:disabled {
    border: none;
    background: none;
}
th input[type="checkbox"] {
    margin-left: 4em;
}
.alternate {
    background-color: #f9f9f9;
}
.noborder td, .noborder th {
    border: none;
}
.playerstats td, .playerstats th {
    border: 0;
}
.playerstats th.playername {
    text-align: left;
}
.playerlist td.playername {
    text-align: left;
}
.playerlist td, .playerlist th {
    text-align: left;
}

div.teamlist .header .ui-icon {
/*	background-image: none;*/
}

.club-teams dl.team {
    width: 60%;
}
.tablist a {
	border: 0;
}
.ui-widget-content a.roll-button {
    color: #ffffff;
}

/*
* @section: Widget
*/
.racketmanager_widget {
	background-image: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	}
.racketmanager_widget img {
	border: 0;
	vertical-align: middle;
	}

/*--- Match Events ---*/
.racketmanager_widget .match_box {
	margin-bottom: 1.5em;
	text-align: center;
	}
.racketmanager_widget .match_box .match {
	padding: 0.3em 0 0 0;
	margin: 0.5em 0;
	}
.racketmanager_widget .match_box .logos {
	margin: 0.5em auto;
	}
.racketmanager_widget .match_box .logos img {
	display: inline;
	width: auto;
	max-width: 25% !important;
	height: auto !important;
}
.racketmanager_widget .match_box .home_logo {
	margin-right: 0.5em;
	}
.racketmanager_widget .match_box .away_logo {
	margin-left: 0.5em;
	}
.racketmanager_widget .match_box .match_day, .racketmanager_widget .match_box .date, .racketmanager_widget .match_box .location {
	padding: 0;
	margin: 0.3em 0;
	}
.racketmanager_widget .match_box .result {
	font-size: 1.3em;
	font-weight: bold;
	}
.racketmanager_widget .match_box .report {
	text-align: right;
	}

/*--- Standings Table ---*/
.racketmanager_widget table.racketmanager {
	margin: 0;
	padding: 0;
	}
.racketmanager_widget table.racketmanager th {
	/*background-color: transparent;*/
	}
.racketmanager_widget table.racketmanager th, .racketmanager_widget table.racketmanager td {
	padding: 4px;
	margin: 0;
	border: 0;
	border-bottom: 1px solid;
	/*background-color: transparent;*/
	}

.racketmanager_widget table.racketmanager tr, .racketmanager_widget table.racketmanager tr.alternate {
	/*background-color: transparent;*/
	}

.points {
    text-align: center;
}
.row input.points {
	padding: 2px 3px;
	margin: 3px;
}
.wp-filter .view-switch {
	display: inline-block;
	vertical-align: middle;
	padding: 12px 0;
	margin: 0 2px 0 8px;
}

td.angledir {
	width: 5%;
}
span.host {
	font-weight: 700;
}
span.unplayedMatch {
	color: grey;
	font-size: 80%;
}
th.numstat {
	width: 8%;
}
th.player {
	width: 18%;
}
tr.match-rubber-row {
	color: #666666;
}
th.team {
	width: 25%;
}
div.teampage h3.header {
	color: #500B73;
}
.cr3_sponsorwrapper {
	text-align: center
}

/*
 * Pagination
 */
.racketmanager-pagination.page-numbers {
    clear: both;
    text-align: center;
    font-size: 1em;
    margin: 1em 0;
}
.racketmanager-pagination.page-numbers a {
    padding: 2px 5px 0 5px;
    border: 1px solid;
    border-bottom: none;
}
.racketmanager-pagination.page-numbers span {
    font-weight: bold;
}
.racketmanager-pagination.page-numbers span.current {
    font-weight: bold;
    border: none;
}

/*
 *  Flex Layout Specifics
 */
.tournament-bracket{
    display:flex;
    flex-direction:row;
}
.round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:210px;
    list-style:none;
    padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
    flex-grow:1;
}
.round-header {
    text-align:center;
    font-weight:bold;
    font-size:1.2em;
    width: 210px;
    display:inline-block;
}
/*
 *  General Styles
 */

li.game{
    padding-left:10px;
}

.winner{
    font-weight:bold;
}
li.game span.draw-home {
    float:right;
    margin-right:5px;
}

li.game-top{ border-bottom:1px solid #aaa; }

li.game-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
    text-align: right;
    padding-right: 10px;
}

li.game-bottom{
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
.doubles.game-bottom {
    height: 47px;
}
.tournament-match {
	border: solid 1px;
	padding: 5px;
}
.matchLater {
	margin-top: 4rem;
}
/*---------------------Club Style-------------------------- */

#club-info {
    float: left;
    text-align: left;
    width: 100%;
}
#club-players {
    clear: both;
    text-align: left;
}
h2.roster-header {
    font-size: 1.5em;
    margin-bottom: 10px;
}
dl.roster {
    margin-bottom: 0;
}
#club-teams {
    clear: both;
    text-align: left;
}
h2.teams-header {
    font-size: 1.5em;
    margin-bottom: 10px;
}
#club-teams li {
    list-style-type: none;
}
#clubdesc {
    padding: 10px;
}
h2.results-header {
    font-size: 1.65em;
    margin-bottom: 10px;
}
.club-thumb {
    float:  left;
}
.roll-club.carousel .club-item {
    padding: 0 25px;
}
.club-item {
          margin-bottom: 30px;
}
.roll-club .club-inner {
    padding: 4px;
    background-color: #fff;
    position: relative;
    text-align: center;
}
.roll-club .club-content {
    text-align: center;
}
.roll-club .club-content .name {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0 2px;
}
.roll-club .club-content .pos {
    padding-bottom: 12px;
    color: #443f3f;
}
.archive .club-item:nth-of-type(3n+1) {
    clear: left;
}
#updateResponse, .updateResponse {
    padding: 1em;
		margin-top: 20px;
		display: none;
}
#TB_window {
    overflow: scroll;
}
#results summary, #club-players summary, #club-teams summary {
    cursor: pointer;
		display: block
}
summary > * {
  display: list-item;
}
.racketmanager-svg-icon {
    width: 1.2em;
    display: inline-block;
    height: 1.2em;
    vertical-align: middle;
    line-height: 1;
}
.calendar-add svg {
    fill: #FFF;
}
.calendar-add:hover svg {
    fill: #00964b;
}
.passwordShow svg {
    fill: #006800;
}
.passwordShow:hover svg {
    opacity: 0.25;
}
.angle-down {
    transform: rotate(90deg);
}
.form-group.field_error {
    border-left: 5px solid red;
    margin-left: -10px;
    margin-bottom: 6px !important;
    padding-left: 6px !important;
}
span.form-error {
    margin-top: 10px;
    padding-top: 5px;
    font-weight: 700;
    margin-left: 0;
    color: red;
}
#profile-message {
    padding: 32px;
    font-weight: bold;
}
label.hidden {
    display: none;
}
.p-fieldset-split {
    display: inline-block;
    margin-right: -4px;
    width: 50%;
}
.login-submit {
    text-align: right;
}
.login-info {
    padding: 1rem;
    border: 0.2rem solid #198754;
    margin-top: 1rem;
    color: #198754;
}
.login-error {
    padding: 1rem;
    border: 0.2rem solid #dc3545;
    margin-top: 1rem;
    color: #dc3545;
}
.recaptcha-container {
    float: left;
    max-width: 50%;
}
.register-submit {
    width: 50%;
    float: right;
}
.g-recaptcha {
    transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
}
#tabs-login {
    border: none;
}
#tabs-login .ui-tabs-nav {
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px solid #aaa;
}
#tabs-login .ui-tabs-nav li {
    display: inline-block;
    float: none;
    top: 0px;
    margin: 0em;
    margin-bottom: -5px;
    padding-bottom: 0px;
}
#tabs-login.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding-top: 0em;
}
.label-radio {
    width: 100%;
}
.passwordShow {
    position: absolute;
    right: 2.5em;
    top: 1.05em;
    cursor: pointer;
}
#password-strength.short {
    background-color: #D2222D;
    color: #FFFFFF;
}
#password-strength.bad {
    background-color: #D2222D;
    color: #FFFFFF;
}
#password-strength.good {
    background-color: #FFBF00;
}
#password-strength {
    width: 100%;
    padding: 10px;
    text-align: center;
}
#password-strength.strong {
    background-color: #157347;
    color: white;
}
#password-reset .description {
    color: #505a5f;
    font-weight: 400;
}
input#resetpassButton:disabled, input#memberaccount-button:disabled {
    cursor: not-allowed;
}
input#resetpassButton:hover:disabled, input#memberaccount-button:hover:disabled {
    color: white;
    background-color: #006800;
}
.message-error {
    color: red;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid red;
}
.message-success {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 5px solid #6c3;
}
.form-row {
    padding-top: 2rem;
}
form#signupform {
    height: 300px;
}
.right {
    float: right;
}
.left {
    float: left;
}
h4.header {
	display: inline-block!important;
}

.fav-icon {
	display: inline-block;
	position: absolute;
	padding-top: .6rem;
	padding-left: .6rem;
}
.fav-icon-svg {
	fill: white;
	stroke: black;
}
.fav-icon-svg-selected {
	fill: gold;
}
.fav-icon-svg:hover {
	fill: gold;
}
.fav-msg {
	display: unset;
}
}
/*  START OF MEDIA QUERIES */

@media only screen and (max-width: 800px) {
    .embed-container {
        position: relative;
        padding-bottom: 52.25%; /* 16/9 ratio */
        padding-top: 30px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img {
        max-width:100%;
        height:auto;
    }

    img {
        -ms-interpolation-mode:bicubic;
    }

}
@media only screen and (max-width: 640px) {

    .wp_clubwrapper .fours-column, .wp_clubwrapper .threes-column, .wp_clubwrapper .twos-column {
        width: 100%;
    }

}
@media only screen and (max-width: 480px) {

    .form-group select[size] {
        width: 50%;
    }
    .match-time {
        width: 50%;
    }
}
@media only screen and (max-width: 320px) {

}

/*  END OF MEDIA QUERIES */
