# OS & Logs
*.log
.DS_Store

# IDE & Editor files
.idea/
.vscode/

# Local Tooling & AI
.junie/
.phpunit.cache/
.phpunit.result.cache

# Test Suites & Build Artifacts
/tests
/my-tests
*phpunit.*
/bin/*
phpcs.xml
.gitignore
