<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
  displayDetailsOnPhpunitDeprecations="false"
  displayDetailsOnTestsThatTriggerDeprecations="false"
  displayDetailsOnTestsThatTriggerErrors="false"
  displayDetailsOnTestsThatTriggerNotices="false"
  displayDetailsOnTestsThatTriggerWarnings="false"
>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <source ignoreIndirectDeprecations="true" restrictNotices="false" restrictWarnings="true">
    <include>
      <directory>src/php</directory>
    </include>
  </source>
  <php>
    <ini name="display_errors" value="On" />
    <ini name="display_startup_errors" value="On" />
    <ini name="error_reporting" value="-1" />
  </php>
</phpunit>
