/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0,0,0,0.7);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #FFFFFF;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  top: 2em;
}
#matches-archive .modal-content {
    top: 10em;
}
/* The Close Button */
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #FFFFFF;
  color: #000000;
  height: 2em;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #FFFFFF;
  color: #000000;
  height: 2em;
}

#splash {
    text-align: center;
    padding: 2rem 0;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#matchHeader {
    font-size: 1.1em;
    font-weight: 600;
}
div#matchHeader .leagueTitle {
    float: left;
}
div#matchHeader .matchDate {
    float: right;
}
div#matchHeader .matchday {
    float: none;
    text-align: center;
}
div#matchHeader .matchTitle {
    text-align: center;
}
td input.points {
    padding: 3px;
    text-align: center;
}
td input.player {
    width: 200px;
}

.playerselect {
    width: 30%;
}
#content .playerselect {
    border: none;
    border-right: 1px solid #333;
}
#matchRubbers select {
    width:    100%;
}

#matchRubbers .centered {
    text-align: center;
    vertical-align: middle
}

/*  START OF MEDIA QUERIES */

@media only screen and (max-width: 1770px) {
    .modal-content {
        width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    .modal-content {
        width: 70%;
    }
}

@media only screen and (max-width: 960px) {
    .modal-content {
        width: 90%;
        top: 4em;
    }
}

/*  END OF MEDIA QUERIES */
